body {
  background: #073642;
  color: #839496;
}
h1 {
  text-align: center;
}
textarea {
  height: 700px;
  width: 100%;
  background: #002b36;
  border: none;
  padding: 10px;
  padding-right: 0;
  margin: 0;
  font-family: monospace;
}
.input {
}
.output {
}

.actions {
  margin: 1em 0;
  text-align: center;
}
.actions > * {
  display: inline-block;
  margin: 0 5px;
}
.language-chooser {
  width: 100px;
}
.mask-name {
  width: 200px;
}

.col {
  padding: 0;
  position: relative;
}
.col .legend {
  position: absolute;
  top: -24px;
  left: 15px;
}
