body {
  background: #002b36;
  color: #839496;
}
h1 {
  text-align: center;
  margin: 1em 0;
}
textarea {
  height: 700px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
.input {
}
.output {
}
